<h1>Welcome to Your Book Store!</h1>

<h2> Log In</h2>
<form method="post" action="/login">
    Email: <input name="email" type="email">
    Password: <input name="password" type="password">
    <input type="submit" value="Log In">
</form></br>



<h2> Sign Up</h2>
<form method="post" action="/signup">
    Email: <input name="email" type="email">
    Password: <input name="password" type="password">
    <input type="submit" value="Sign Up">
</form>




    
