<h2>Update your book here!</h2>

<form method="POST" action="/books/<%= @book.id %>">
    <input type="hidden" name="_method" value="PUT">
    Title: <input type="text" name="book[title]" value="<%= @book.title%>">
    Author: <input type="text" name="book[author]" value="<%= @book.author%>" >
    <input type="submit" value="Update Book">
</form>

<% if flash.has?(:message) %>
   <p><%= flash[:message] %></p>
<% end %>