<br> <p style="font-size:30px">Here Are All Of The Books!  </p>

<% if logged_in?  %>
  <p style="font-size:20px">Logged in user:  <%= current_user.email %></p>
<% end %>
<br>

<% @books.each do |b|  %> 
  <li><a href="/books/<%=b.id%>"><%=b.title %></a> </li>
<% end %>
<br>
</form>
 