<br> <p style="font-size:35px">Here are your Books!  </p>

<% if logged_in?  %>
<p style="font-size:30px">Logged in user:  <%= current_user.email %></p>
<% end %>
<% @books.each do |b|  %> 

  <%= b.id %> -  <a href="/books/<%=b.id%>"><%=b.title %></a> <br>
<% end %>
