<h1>Create A New Book!</h1></br>

<form method="POST" action="/books">
    Title: <input type="text" name="title"></br></br>
    Author:  <input type="text" name="author"></br></br>
    <input type="submit" value="Create Book"><br><br>
    <a href="/books"> Go Back To Your List</a>
</form>

