<h2>Here are the books you've create!</h2>
<h3>Title: <%= @book.title %> </h3>


<a href="/books/<%= @book.id %>/edit">Edit</a>

<form method="POST" action="/books/<%= @book.id %>">
   <input type="hidden" name="_method" value="DELETE">
   <input type="submit" value="DELETE BOOK">
</form>

